/.idea
/.git
/symfony/.env.local
/symfony/.env.local.php
/symfony/.env.*.local
/symfony/.phpunit.result.cache
/symfony/config/secrets/prod/prod.decrypt.private.php
/symfony/node_modules
/symfony/public/bundles
/symfony/public/build
/symfony/var
/symfony/vendor
/symfony/bin/phpunit
/symfony/phpunit.xml
/symfony/phpunit.xml.*
/README.md
/LICENSE
